<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css">
	<script src="lib/jquery.js" ></script>
	<script src="lib/underscore.js"></script>
	<script src="lib/backbone.js" ></script>
	<script src="lib/backbone.localstorage.js" ></script>
	<script src="main.js" ></script>
</head>
<body>

<div class="well">
<form id="ration_form" class="form">
	<input id="ration_name" type="text" placeholder="Name" />
	<a id="ration" class="btn btn-primary" href="#">+ Ration</a>
	<a style="display:none" id="submit" class="btn">Save</a>
</form>
</div>
<h3>Rations</h3>
<table id="rations" class-"table table-stripped">
	<thead>
		<td>Item</td><td>Quantity</td>
	</thead>
</table>

<script id="ration-template" type="text/underscore-template">
	<table class="table table-stripped">
		<thead>
			<td>Item</td><td>Quantitiy</td>
		</thead>
        <tbody>
            <% _.each(rations, function(ration) { %> <tr><td><%= ration.get('name') %></td></tr> <% }); %>
        </tbody>
	</table>
</script>

</body>
</html>