<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css">
	<script src="lib/jquery.js" ></script>
	<script src="lib/underscore.js"></script>
	<script src="lib/backbone.js" ></script>
	<script src="lib/backbone.localstorage.js" ></script>
	<script src="main.js" ></script>
</head>
<body>

<div class="well">
	<div id="form-wrapper"></div>
</div>
<h3>Rations</h3>
<table id="rations" class="table table-striped">
	<thead>
		<td>Item</td><td>Quantity</td>
	</thead>
</table>

<script id="ration-template" type="text/underscore-template">
	<table class="table table-striped">
		<thead>
			<td>Item</td><td>Description</td>
		</thead>
        <tbody>
            <% _.each(rations, function(ration) { %> 
            	<tr>
            		<td>
	            		<%= ration.get('name') %>
            		</td>
            		<td>
	            		<% _.each(ration.get('inventory'), function(item) { %>
	            			<%= item.qty %> - <%= item.item %>
	            		<% }); %>
            		</td>
          		</tr> 
    		<% }); %>
        </tbody>
	</table>
</script>

</body>
</html>